#info {
  position: absolute;
  bottom: 120px;
  left: 27%;
}
#clear {
  position: absolute;
  bottom: 180px;
  left: 35%;
}
#multi_point_toggle {
  position: absolute;
  bottom: 250px;
  left: 10%;
}
.sidebar .points {
  position: absolute;
  top: 65px;
  left: 25%;
  color: #0a5275;
}
.sidebar .routing_inputs {
  position: absolute;
  bottom: 300px;
  left: 15%;
  color: #0a5275;
}
#download {
  display: table;
  position: absolute;
  bottom: 50px;
  left: 20%;
  margin: 10px auto;
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 0px;
  border-radius: 5px;
  border: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
  color: #222;
  background: rgb(255, 255, 255);
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: white;
  transition: all 0.5s ease;
}
#check {
  display: none;
}
label #btn {
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #cancel {
  position: absolute;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}
label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 195px;
}
#full {
  position: absolute;
}
.sidebar .types {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  padding: 5px;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}